.singalNagging {
  margin-top: 80px;
  .content {
    font-size: 40px;
    a {
      color: rgba(0,0,0,0.5);
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }
  .secondary {
    color: rgba(0,0,0,0.4);
    span.deletebtn {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 768px) {
  .singalNagging {
    margin-top: 40px;
    .content {
      font-size: 25px;
    }
    .time {
      font-size: 14px;
    }
  }
}