div.naggingCell {
  margin-bottom: 30px;
  .timestamp {
    font-size: 14px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    :hover {
      text-decoration: underline;
    }
  }
  .content {
    font-size: 20px;
  }
}

div.next {
  margin-bottom: 50px;
  font-size: 12px;
  .nextTrigger{
    cursor: pointer;
  }
}
div.next.end {
  color: rgba(0, 0, 0, 0.4);
  cursor: default;
}
div.next.loading {
  color: rgba(0, 0, 0, 0);
}