@font-face {
  font-family: 'RobotoMono';
  src: local('Roboto Mono'), url('./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMonoItaliy';
  src: local('Roboto Mono'), url('./fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenMoji';
  src: url('./fonts/OpenMoji-Color.ttf');
}

.container {
  font-family: 'RobotoMono', 'OpenMoji';
}

.footer {
  margin-bottom: 80px;
  font-size: 14px;
  color: rgba(0,0,0,0.4);
  a {
    color: rgba(0,0,0,0.4);
  }
}